*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FDFFFC;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #161925;
    width: 1000px;
    height: 500px;
    box-shadow: 0px 0px 10px #161925;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    aside{
        width: 240px;
        height: 490px;
        background-color: #FDFFFC;
        box-shadow: 0px 0px 10px #161925 inset;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        .player{
            width: 95%;
            height: 40px;
            background-color: #2B2E39;
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: 38px auto;
            column-gap: 5px;
            align-items: center;
            &:nth-child(2n){
                background-color: #3E414B;
            }
            p{
                color: #FDFFFC;
                &:first-child{
                    height: 38px;
                    width: 38px;
                    background-color: #235789;
                    border-radius: 50%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .match{
        .player{
            background-color: #C1292E;
            &:nth-child(2n){
                background-color: #F1D302;
                margin-bottom: 20px;
            }
        }
    }
    article{
        width: 500px;
        height: 490px;
        background-color: #FDFFFC;
        box-shadow: 0px 0px 10px #161925 inset;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        .player{
            width: 95%;
            height: 40px;
            background-color: #2B2E39;
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: 38px auto 50px 50px 50px;
            column-gap: 5px;
            align-items: center;
            &:nth-child(2n){
                background-color: #3E414B;
            }
            p{
                color: #FDFFFC;
                &:first-child{
                    height: 38px;
                    width: 38px;
                    background-color: #235789;
                    border-radius: 50%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
            }
            button{
                height: 100%;
                border: none;
                cursor: pointer;
                &:nth-child(3){
                    background-color: #235789;
                    &:hover{
                        background-color: #3075b4;
                    }
                }
                &:nth-child(4){
                    background-color: #C1292E;
                    &:hover{
                        background-color: #fa383e;  
                    }
                }
                &:nth-child(5){
                    background-color: #161925;
                    color: #FDFFFC;
                    &:hover{
                        background-color: #252a3d;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0px 0px 6px rgba(0,0,0,.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb
{
    background:#235789;
    background-image:-webkit-linear-gradient(20deg, #C1292E 25%, transparent 25%, transparent 50%, #C1292E 50%, #C1292E 75%, transparent 75%)
}